<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OnBoarding Page</title>
        <link rel="shortcut icon" href="../assets/images/logo.png" type="image/x-icon">
        <link rel="stylesheet" href="../styles/output.css">
        <style>
            .overlay {
                background: rgb(0, 0, 0);
                background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.8) 100%);
            }
        </style>

    </head>

    <body class="h-screen bg-main-shoes p-8 font-inter">
        <div class="overlay fixed top-0 bottom-0 right-0 left-0 opacity-75"></div>
        <div class="container flex flex-col gap-3 justify-end h-[95%] text-white z-10 relative">
            <h3 class="text-[40px] font-semibold">Welcome to <span class="inline-block">👋</span></h3>
            <h2 class="text-[72px] font-bold">Shoea</h2>
            <span class="font-semibold">The best sneakers & shoes e-commerse app of the century for your fashion
                needs!</span>
        </div>
    </body>

</html>