<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Checkout</title>
        <link rel="shortcut icon" href="../assets/images/logo.png" type="image/x-icon">
        <link rel="stylesheet" href="../styles/output.css">
        <script defer type="module" src="../utils/checkout.js"></script>

        <!-- BOOTSTRAP ICONS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    </head>

    <body class="font-inter px-6 py-4">
        <!-- HEADER -->
        <header class="flex items-center justify-between text-xl">
            <div class="flex items-center font-semibold text-xl gap-3">
                <a href="./homePage.html"><img src="../assets/icons/arrow-back.png" alt="logo"></a>
                <span>Checkout</span>
            </div>
            <div class="flex gap-3">
                <i class="bi bi-three-dots"></i>
            </div>
        </header>
        <!-- MAIN -->
        <!-- SHIPPING ADDRESS -->
        <section class="border-b-2 border-gray mt-5 pb-5" id="section-1">
            <h3 class="font-semibold text-lg">Shipping Address</h3>
            <div class="grid-item flex justify-between items-center bg-white shadow-md rounded-md p-2">
                <div class="flex items-center justify-between gap-2">
                    <span class="address bg-[#ccc] inline-flex p-2 rounded-full my-3">
                        <i class="bi bi-geo-alt-fill bg-black text-white p-2 rounded-full inline-flex"></i>
                    </span>
                    <div class="flex flex-col">
                        <span class="font-bold" id="title">Home</span>
                        <span class="text-fadedBlack text-xs" id="details">61480 SunBrook Park,PC 5679</span>
                    </div>
                </div>
                <i class="bi bi-pencil-fill cursor-pointer" id="edit-address"></i>
            </div>
        </section>
        <!-- ORDER LIST -->
        <section class="border-b-2 border-gray mt-5 pb-5" id="section-2">
            <h3 class="font-semibold text-lg">Order List</h3>
            <div class="grid-container grid grid-cols-1 gap-y-5 gap-x-10 mb-5 mt-3" id="orders"></div>
        </section>
        <!-- CHOOSE SHIPPING -->
        <section class="border-b-2 border-gray mt-5 pb-5" id="section-3">
            <h3 class="font-semibold text-lg mb-3">Choose Shipping</h3>
            <div class="grid-item flex justify-between items-center bg-white shadow-md rounded-md p-2">
                <div class="flex items-center justify-between gap-2">
                    <span class=" text-white bg-black rounded-full p-4 inline-flex">
                        <i class="bi bi-box-seam inline-flex"></i>
                    </span>
                    <div class="flex flex-col">
                        <span class="font-bold" id="title">Economy</span>
                        <span class="text-fadedBlack text-xs" id="details">Estimated Arrival, Dec 20-23</span>
                    </div>
                </div>
                <div class="flex items-center gap-1">
                    <span class="font-semibold" id="price">10$</span>
                    <i class="bi bi-chevron-right cursor-pointer" id="shipping"></i>
                </div>
            </div>
        </section>
        <!-- PROMO CODE -->
        <section class="border-b-2 border-gray mt-5 pb-5" id="section-4">
            <h3 class="font-semibold text-lg">Promo Code</h3>
            <div class="my-4 flex justify-center items-center gap-5">
                <input type="search" name="search" id="search" placeholder="Enter Promo Code"
                    class=" outline-none bg-[#FAFAFA] pl-2 py-3 rounded-lg w-9/12">
                <i
                    class="bi bi-plus text-white bg-black w-3/12 inline-flex justify-center items-center max-w-max p-4 rounded-full cursor-pointer"></i>
            </div>
            <div class="shadow-lg p-5 text-fadedBlack text-sm">
                <div class=" border-b-2 border-gray flex flex-col gap-3 pb-3 mb-3">
                    <div class="flex justify-between items-center">
                        <span>Amount</span>
                        <span id="amount-cost">$800.00</span>
                    </div>
                    <div class="flex justify-between items-center">
                        <span>Shipping</span>
                        <span id="shipping-cost">-</span>
                    </div>

                </div>
                <div class="flex justify-between items-center">
                    <span>Total</span>
                    <span id="total-of-all">-</span>
                </div>
            </div>
        </section>

        <!-- FOOTER -->
        <button id="payment"
            class="bg-black text-sm font-semibold mx-auto w-full py-3 px-6 rounded-3xl gap-3 flex items-center justify-center">
            <span class="text-white">Continue to Payment</span>
            <i class="bi bi-arrow-right cursor-pointer text-white"></i>
        </button>

    </body>

</html>