<div class="flex justify-between items-center bg-white shadow-md rounded-md p-2">
    <div class="flex items-center justify-between gap-2">
        <span class="address bg-[#ccc] inline-flex p-2 rounded-full my-3">
            <i class="bi bi-geo-alt-fill bg-black text-white p-2 rounded-full inline-flex"></i>
        </span>
        <div class="flex flex-col">
            <span class="font-bold">Home</span>
            <span class="text-fadedBlack text-xs">61480 SunBrook Park,PC 5679</span>
        </div>
    </div>
    <input type="radio" name="address-select" id="address-select">
</div>

<div class="flex justify-between items-center bg-white shadow-md rounded-md p-2">
    <div class="flex items-center justify-between gap-2">
        <span class="address bg-[#ccc] inline-flex p-2 rounded-full my-3">
            <i class="bi bi-geo-alt-fill bg-black text-white p-2 rounded-full inline-flex"></i>
        </span>
        <div class="flex flex-col">
            <span class="font-bold">Office</span>
            <span class="text-fadedBlack text-xs">61480 SunBrook Park,PC 5679</span>
        </div>
    </div>
    <input type="radio" name="address-select" id="address-select">
</div>
<div class="flex justify-between items-center bg-white shadow-md rounded-md p-2">
    <div class="flex items-center justify-between gap-2">
        <span class="address bg-[#ccc] inline-flex p-2 rounded-full my-3">
            <i class="bi bi-geo-alt-fill bg-black text-white p-2 rounded-full inline-flex"></i>
        </span>
        <div class="flex flex-col">
            <span class="font-bold">Apartment</span>
            <span class="text-fadedBlack text-xs">61480 SunBrook Park,PC 5679</span>
        </div>
    </div>
    <input type="radio" name="address-select" id="address-select">
</div>
<div class="flex justify-between items-center bg-white shadow-md rounded-md p-2">
    <div class="flex items-center justify-between gap-2">
        <span class="address bg-[#ccc] inline-flex p-2 rounded-full my-3">
            <i class="bi bi-geo-alt-fill bg-black text-white p-2 rounded-full inline-flex"></i>
        </span>
        <div class="flex flex-col">
            <span class="font-bold">Parent's House</span>
            <span class="text-fadedBlack text-xs">61480 SunBrook Park,PC 5679</span>
        </div>
    </div>
    <input type="radio" name="address-select" id="address-select">
</div>