<div id="shipping-method">
    <div class="grid-item flex justify-between items-center bg-white shadow-md rounded-md p-2">
        <div class="flex items-center justify-between gap-2">
            <span class=" text-white bg-black rounded-full p-4 inline-flex">
                <i class="bi bi-box-seam inline-flex"></i>
            </span>
            <div class="flex flex-col">
                <span class="font-bold" id="title">Economy</span>
                <span class="text-fadedBlack text-xs" id="details">Estimated Arrival, Dec 20-23</span>
            </div>
        </div>
        <div class="flex items-center gap-1">
            <span class="font-semibold" id="price">10$</span>
            <input type="radio" name="address-select">
        </div>
    </div>

    <div class="grid-item flex justify-between items-center bg-white shadow-md rounded-md p-2">
        <div class="flex items-center justify-between gap-2">
            <span class=" text-white bg-black rounded-full p-4 inline-flex">
                <i class="bi bi-box2 inline-flex"></i>
            </span>
            <div class="flex flex-col">
                <span class="font-bold" id="title">Regular</span>
                <span class="text-fadedBlack text-xs" id="details">Estimated Arrival, Dec 20-23</span>
            </div>
        </div>
        <div class="flex items-center gap-1">
            <span class="font-semibold" id="price">15$</span>
            <input type="radio" name="address-select">
        </div>
    </div>
    <div class="grid-item flex justify-between items-center bg-white shadow-md rounded-md p-2">
        <div class="flex items-center justify-between gap-2">
            <span class=" text-white bg-black rounded-full p-4 inline-flex">
                <i class="bi bi-truck inline-flex"></i>
            </span>
            <div class="flex flex-col">
                <span class="font-bold" id="title">Cargo</span>
                <span class="text-fadedBlack text-xs" id="details">Estimated Arrival, Dec 20-23</span>
            </div>
        </div>
        <div class="flex items-center gap-1">
            <span class="font-semibold" id="price">20$</span>
            <input type="radio" name="address-select">
        </div>
    </div>
    <div class="grid-item flex justify-between items-center bg-white shadow-md rounded-md p-2">
        <div class="flex items-center justify-between gap-2">
            <span class=" text-white bg-black rounded-full p-4 inline-flex">
                <i class="bi bi-truck-flatbed inline-flex"></i>
            </span>
            <div class="flex flex-col">
                <span class="font-bold" id="title">Express</span>
                <span class="text-fadedBlack text-xs" id="details">Estimated Arrival, Dec 20-23</span>
            </div>
        </div>
        <div class="flex items-center gap-1">
            <span class="font-semibold" id="price">30$</span>
            <input type="radio" name="address-select">
        </div>
    </div>
</div>